[submodule "SM64_16Star_2020"]
	path = SM64/SM64_16Star_2020
	url = https://gist.github.com/96966f2b490488c55f2686b2aa342f66.git
[submodule "SM64/SM64_120Star_Strats"]
	path = SM64/SM64_120Star_Strats
	url = https://gist.github.com/f0f008a20655f8c6add702ecf69c5f7c.git
[submodule "SM64/SM64_70Star_Strats"]
	path = SM64/SM64_70Star_Strats
	url = https://gist.github.com/d5b6c023ae6a6d5c07093a4effa76958.git
[submodule "NierAutomata/NierAutomata_[A]Ending_Easy_Strats"]
	path = NierAutomata/NierAutomata_[A]Ending_Easy_Strats
	url = https://gist.github.com/3d232952917dde3f233f8fbc5661e6e5.git
[submodule "NierAutomata/NierAutomata_[E]Ending_Easy_Strats"]
	path = NierAutomata/NierAutomata_[E]Ending_Easy_Strats
	url = https://gist.github.com/8b8042d67c5111bfb4f4b232a081053e.git
[submodule "Metroid_ZeroMission/Metroid_ZeroMission_Any%_Strats"]
	path = Metroid_ZeroMission/Metroid_ZeroMission_Any%_Strats
	url = https://gist.github.com/d7c58f0287ca41df308478e77be557bf.git
[submodule "Metroid_Fusion/Metroid_Fusion_100_any_%_Strats"]
	path = Metroid_Fusion/Metroid_Fusion_100_any_%_Strats
	url = https://gist.github.com/b95a4cd5e3749eaf5830e3087e4f3797.git
[submodule "Misc"]
	path = Misc
	url = https://gist.github.com/5001520114d5c06405fff74c2d6f95c9.git
